/* datepicker input click anywhere override */
/* https://stackoverflow.com/questions/15530850/method-to-show-native-datepicker-in-chrome */

input[type="time"],
input[type="datetime-local"],
input[type="date"] {
    position: relative;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="time"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="time"]::-webkit-clear-button,
 input[type="datetime-local"]::-webkit-clear-button,
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }


/* jinja forms */

.jf {
    position: relative;
    padding: 20px
}


/* step indicator */
.jf-step {
    height: 18px;
    width: 18px;
    margin: 0px 8px;
    cursor: pointer;
    background-color: rgba(47, 79, 79, 0.5);
    transition: 0.2s;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
}

.jf-step:hover{
    transform: scale(1.8);
}

.jf-step.active {
    cursor: auto;
    border-width: 1px;
    transform: scale(1.5);
    background-color: rgb(47, 79, 79);
}

.jf-step.finish {
    background-color: #4caf4f79;
}

.jf-step.invalid {
    background-color: rgba(255, 0, 0, 0.507);
}


/* step tool-tip */
[data-title] {
    font-size: 30px;
    position: relative;
    background-color: #000;
}

[data-title]:hover:not(.active)::before {
    left: -26px;
    bottom: 27px;
    color: #fff;
    display: inline-block;
    position: absolute;
    content: attr(data-title);
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    font-size: 12px;
    white-space: nowrap;
}

[data-title]:hover:not(.active)::after {
    left: 0;
    color: #fff;
    border: 8px solid transparent;
    bottom: 12px;
    content: '';
    display: inline-block;
    position: absolute;
    border-bottom: 8px solid #000;
    transform: rotate(180deg);
}


/* jinja tabs */
.jf-tab {
    display: none;
}

.jf-tab.active {
    display: block;
}

.jf-tab-heading {
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.jf-tab-subheading {
    margin-top: 10px;
    width: 100%;
    font-size: 22px;
}

.jf-tab .col {
    margin: 0.5rem;
}

.jf-para {
    text-align: justify;
}

.jf-checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.jf-checkbox-container>div.form-check {
    flex-grow: 1;
    width: 25%;
}

.jf-img-preview-container {
    text-align: center;
    margin: 1px;
}

.jf-img-preview {
    object-fit: contain;
    height: 100%;
    max-height: 300px;
    width: auto;
}

.jf-textarea {
    max-height: 350px;
}

.jf-print-only {
    visibility: hidden;
    max-height: 0;
}

.jf-display-none {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    .jf-tab {
        display: block;
        margin-bottom: 50px;
    }

    .jf input::placeholder {
        color: transparent;
    }

    .jf select {
        padding-left: 0;
        border: 1px solid black;
        border-radius: 0px;
        border-top: none;
        border-right: none;
        border-left: none;

        /* remove drop-arrow */
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .jf-print * {
        visibility: visible;
        max-height: unset;
    }

    .jf-print-only * {
        visibility: visible;
        max-height: unset;
    }

    .jf-no-print, .jf-no-print * {
        visibility: hidden;
        max-height: 0;
    }
}
